@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans+JP:wght@500&display=swap');

:root {
  --sig: #FFCA36;
  --font-white: #DDDDDD;
  --font-black: #161728;
  --font-light-gray: #686868;
  --font-dark-gray: #565657;
  --font-red: #eb5a40;
  --bg: #161728;
  --bg-sideBar: #23263D;
  --bg-button: #23263D;
  --bg-input: #000000;
  --border-input: #30363d;
  --border: #21262D;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--font-white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
  /* Standard */
  -webkit-user-select: none;
  /* Safari */

  transition-duration: 0.2s;
  animation-duration: 0.2s;
}

body {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  border-radius: 30px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/** 
  input elements
*/

input,
textarea,
select {
  padding: 4px 6px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-input);
  color: var(--font-white);
}

input,
select,
textarea:focus {
  outline: none;
}

input,
select,
textarea:hover {
  cursor: pointer;
}

button {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 0.75em 1.5em;
  background-color: var(--bg-button);
}

.btn {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 0.75em 1.5em;
  background-color: var(--bg-button);
}

button:hover {
  cursor: pointer;
}

.btn-circle {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-color: var(--bg-button);
}

.btn:hover {
  cursor: pointer;
}

.btn-text {
  background: none;
}

.btn-sig {
  background-color: var(--sig);
  color: var(--bg);
}

.btn-gray {
  background-color: var(--font-dark-gray);
  color: var(--font-white);
}

.btn-div {
  all: unset;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2em;
  font-weight: lighter;
}

h2 {
  font-size: 1.8em;
  font-weight: lighter;
}

h3 {
  font-size: 1.6em;
  font-weight: lighter;
}

h4 {
  font-size: 1.4em;
  font-weight: lighter;
}

h5 {
  font-size: 1.2em;
  font-weight: lighter;
}

@media (min-width: 720px) {
  h1 {
    font-size: 1em;
  }
}

.little-rounded {
  border-radius: 5px;
}

.middle-rounded {
  border-radius: 10px;
}

.much-rounded {
  border-radius: 15px;
}

.text-warn {
  color: var(--font-red);
}

.bg-warn {
  background-color: var(--font-red);
}

.text-sig {
  color: var(--sig);
}

.text-blur {
  color: var(--font-light-gray);
}

.bg-sig {
  background-color: var(--sig);
}

.border-thin {
  border-width: 0.5px;
}

.border-average {
  border-width: 0.8px;
}

.border-thick {
  border-width: 1px;
}


/* 
  radio 
*/
.radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .privacy-desc {
    color: var(--font-light-gray);
  }
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid var(--font-light-gray);
  background-color: var(--bg);
  border-radius: 50%;
}

.radio:hover input~.checkmark {
  background-color: var(--font-light-gray);
}

.radio input:checked~.checkmark {
  border: 1px solid var(--font-light-gray);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.radio input:checked~.checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--font-white);
}

/*
  select box
*/
.select-box {
  position: relative;
  width: 70%;
}

.select-box:hover {
  cursor: pointer;
}

.select-box::before,
::after {
  --size: 0.3rem;
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
}

.select-box::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--font-white);
  top: 55%;
}

.select-box::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--font-white);
  top: 40%;
}

select {
  appearance: none;
  width: 100%;
  font-size: 13px;
  padding: 10px 10px;
  background-color: var(--bg);
  border: 1px solid var(--font-light-gray);
  color: var(--font-white);
}

/**
  scroller
*/

::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}